body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  /*overflow: hidden; /* Hide scrollbars */
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e2e8f0;
  display: flex;
  justify-content: center;
}

.container {
  width: 95%;
  display: grid;
  grid-template-rows: 380px 1fr;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.top {
  background-color: #a8b2c3;
  display: grid;
  grid-template-rows: 50px 50px 250px;
  gap: 10px;
  padding-top: 10px;
}

.image {
  display: flex;
  justify-content: center;
}

img {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.top header {
  background-color: #787980;
  color: white;
  font-size: large;
  display: grid;
  grid-template-columns: 60% 20% 5% 15%;
  border-radius: 10px;
  border-left: 8px solid lightgray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 80%;
  height: 50px;
  place-self: center;
  align-items: center;
  padding-left: 10px;
}

.logo {
  place-self: center;
  padding-top: 10px;
}

.acks {
  position: relative; /* this is the reference point for .shoutoutsText */
}

.acks .acksText {
  visibility: hidden;
  width: 350px;
  background-color: white;
  color: darkblue;
  text-align: center;
  padding: 5px 0;
  border: 2px solid black;
  border-radius: 6px;
  position: absolute;
  top: 100%; /* this positions below the text about its parent, i.e., .ackss */
  left: 50%; /* this centres it horizontally. NB there is no need for margin-left */
  transform: translateX(
    -50%
  ); /* this offsets the left 50% to truly center it */
  z-index: 1;
}

.acks:hover .acksText {
  visibility: visible;
}

.search {
  background-color: #787980;
  color: white;
  font-size: large;
  display: flex;
  border-radius: 10px;
  border-left: 8px solid lightgray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 80%;
  height: 50px;
  place-self: center;
  padding-left: 10px;
}

.inputArea {
  width: 100%;
  border: transparent;
  margin: 0;
  padding: 0;
  place-self: center;
  display: grid;
  grid-template-columns: 80% 20%;
}
.searchBox {
  display: flex;
  grid-template-columns: auto auto;
  gap: 5px;
  align-items: center;
}

.inputBox {
  display: flex;
}

input[type="text"] {
  width: 200px;
  height: 15px;
  padding: 12px 20px;
  border: none;
  box-sizing: border-box;
  border-radius: 20px;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  background-color: #e2e8f0;
  padding-right: 0%;
}

input:focus {
  background-color: white;
}
/* to remove the black outline in focus use 'outline:none'
this could affect the appearnce of the clear button*/

.clear {
  width: 25px;
  height: 24px;
  background-color: #e2e8f0;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.magnify-glass {
  transition: transform 2s;
}

.magnify-glass:hover {
  transform: translate(30px) scale(5) rotate(360deg);
}

.bottom {
  background-color: #a8b2c3;
  display: grid;
  grid-template-areas:
    "head head"
    "tod tom";
  grid-template-columns: 50% 50%;
  grid-template-rows: 30px 1fr;
  gap: 5px;
  color: darkblue;
  justify-content: center;
}

.bottom header {
  grid-area: head;
  width: 30%;
  padding: 2px;
  /*background-color: #1992d4;*/
  background-color: white;
  border-radius: 5px;
  border-color: darkblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  place-self: center;
  color: darkblue;
}

.todayReport {
  grid-area: tod;
  background-color: lightgray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  padding: 5px;
  display: grid;
  grid-template-rows: 25px 1fr 30px;
}

.todayDate {
  width: 35%;
  padding-left: 5px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: large;
  display: flex;
  margin-bottom: 5px;
  color: darkblue;
}

.report {
  width: 100%;
  /*background-color: rgb(141, 198, 247);*/
  /*background-color: #a8b2c3;*/
  background-color: #787980;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: repeat(16, auto);
  align-items: center;
  color: white;
}

.report .title {
  width: 115px;
  place-self: center;
}

.report div {
  width: 50px;
  height: 40px;
  display: flex;
  align-items: center;
  padding-top: 5px;
}

.report .period {
  width: 50px;
  height: 20px;
}

.description {
  background-color: white;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  color: darkblue;
  display: flex;
  align-items: center;
}

.tomorrowReport {
  grid-area: tom;
  background-color: lightgray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  padding: 5px;
  display: grid;
  grid-template-rows: 25px 1fr 30px;
}

.tomorrowDate {
  width: 35%;
  padding-left: 5px;
  /*background-color: #1992d4;*/
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: large;
  display: flex;
  margin-bottom: 5px;

  color: darkblue;
}

.reportForTomorrow {
  width: 100%;
  background-color: #787980;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: repeat(16, auto);
  align-items: center;
  color: white;
}

.reportForTomorrow .tomorrowTitle {
  width: 115px;
  place-self: center;
}

.reportForTomorrow div {
  width: 50px;
  height: 40px;
  display: flex;
  align-items: center;
  padding-top: 5px;
}

.reportForTomorrow .tomPeriod {
  width: 50px;
  height: 20px;
}

.tomorrowDescription {
  background-color: white;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  color: darkblue;
  display: flex;
  align-items: center;
}
