body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  /*overflow: hidden; /* Hide scrollbars */
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightblue;
  display: flex;
  justify-content: center;
}

.container {
  width: 90%;
  display: grid;
  grid-template-rows: 450px 1fr;
  border-radius: 10px;
  border-left: 8px solid#1992d4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.top {
  background-image: url("./images/goatfell.jpg");
  background-color: #1992d4;
  background-repeat: space;
  background-position: center;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
}

.top header {
  background-color: #1992d4;
  color: white;
  font-size: large;
  display: grid;
  grid-template-columns: 60% 20% 5% 15%;
  border-radius: 10px;
  border-left: 8px solid lightblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 80%;
  height: 50px;
  place-self: center;
  align-items: center;
  padding-left: 10px;
}

.logo {
  place-self: center;
  padding-top: 10px;
}

.acks {
  position: relative; /* this is the reference point for .shoutoutsText */
}

.acks .acksText {
  visibility: hidden;
  width: 350px;
  background-color: white;
  color: darkblue;
  text-align: center;
  padding: 5px 0;
  border: 2px solid black;
  border-radius: 6px;
  position: absolute;
  top: 100%; /* this positions below the text about its parent, i.e., .ackss */
  left: 50%; /* this centres it horizontally. NB there is no need for margin-left */
  transform: translateX(
    -50%
  ); /* this offsets the left 50% to truly center it */
  z-index: 1;
}

.acks:hover .acksText {
  visibility: visible;
}

.search {
  background-color: #1992d4;
  color: white;
  font-size: large;
  display: flex;
  border-radius: 10px;
  border-left: 8px solid lightblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 80%;
  height: 50px;
  place-self: center;
  padding-left: 10px;
}

form {
  width: 100%;
  display: grid;
  grid-template-columns: 80% 20%;
  /*justify-content: flex-start;*/
  align-items: center;
}

fieldset {
  width: 100%;
  border: transparent;
  margin: 0;
  padding: 0;
  place-self: center;
}

input[type="text"] {
  width: 200px;
  height: 15px;
  padding: 12px 20px;
  border: none;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #e2e8f0;
}

input:focus {
  background-color: white;
}

button {
  width: 70px;
  height: 30px;
  background-color: #e2e8f0;
  border-radius: 20px;
  border-color: darkblue;
  font-size: 16px;
  color: darkblue;
  cursor: pointer;
}

button:hover {
  width: 90px;
}

.bottom {
  border: 5px solid lightblue;
  display: grid;
  grid-template-areas:
    "head head"
    "tod tom";
  grid-template-columns: 50% 50%;
  grid-template-rows: 30px 1fr;
  gap: 5px;
  margin: 5px;
  color: darkblue;
  justify-content: center;
}

.bottom header {
  grid-area: head;
  font-size: large;
  display: flex;
  justify-content: center;
  color: darkblue;
}

.todayReport {
  grid-area: tod;
  border: 3px solid #1992d4;
  border-radius: 10px;
  padding: 5px;
}

.tomorrowReport {
  grid-area: tom;
  border: 3px solid #1992d4;
  border-radius: 10px;
  padding: 5px;
}
